streamlit 
langchain 
langchain_ollama
selenium
beautifulsoup4
lxml 
html5lib
python-dotenv
transformers
torch
pandas
sentencepiece
google-api-python-client
python-dotenv
requests
fake_useragent 
spacy
pyppeteer
playwright